.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

      /* Add this CSS to apply the handwritten font to the review text */
      .handwritten-font {
        font-family: 'Sofia', cursive;
        font-size: 16px; }

      	.larger-char {
		font-size: 13px;
		/* Adjust the font size as per your preference */
	}